# Ignore virtual environments
venv310/

# Ignore model tuning directories
tuner_dir/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs/temp
*.log
*.tmp

# Ignore environment secrets
.env
